.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--color-accent);
    transition: width var(--transition-base);
}

.nav-link:hover::after {
    width: 100%;
}

.active-nav::after {
    width: 100%;
}
